.lcn-file-uploader,
.lcn-file-uploader * {
    box-sizing: border-box;
}

.lcn-file-uploader {
    position: relative;

    .thumbnail-inner {
        position: relative;
        min-height: 3em;
        line-height: 0;

        .delete {
            position: absolute;
            z-index: 2;

            cursor: pointer;
        }
    }


    input[type="file"] {
        position: absolute;
        z-index: 1;
        outline: none;
        cursor: pointer;
        color: transparent;

        &::-webkit-file-upload-button {
            visibility: hidden;
        }
    }
}
