$error-color: #fff !default;
$error-bg-color: #f00 !default;
$delete-color: #fff !default;
$delete-bg-color: #f00 !default;
$loading-indicator-height: 1em !default;
$loading-indicator-color: #007ba0 !default;


@keyframes lcn-file-uploader-loading-indicator-animation {
    0% {
        background: lighten($loading-indicator-color, 50);
    }

    50% {
        background: $loading-indicator-color;
    }

    100% {
        background: lighten($loading-indicator-color, 50);
    }
}


.lcn-file-uploader {

    margin-top: 1em;

    .error {
        margin-top: 1em;
        padding: 1em;
        background-color: $error-bg-color;
        color: $error-color;
    }

    &.max-files-limit-reached {
        [data-action="add"] {
            display: none;
        }
    }

    .thumbnails {
        list-style-type: none;
        margin: 1em 0 0 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .thumbnail {
        display: block;
        padding: 5px;

        width: auto;
        max-width: 50%;

        @media (min-width: 37.5em) {
            max-width: 33%;
        }

        @media (min-width: 48em) {
            max-width: 20%;
        }

        @media (min-width: 64em) {
            max-width: 15.5%;
        }

        img {
            height: auto;
            width: 100%;
        }

        .download {
            line-height: 1.5em;
            word-wrap: break-word;
        }

        .delete {
            right: 0;
            bottom: 0;
            opacity: 0.8;
            background-color: $delete-bg-color;
            width: 1.5em;
            overflow: hidden;
            color: transparent;

            text-align: center;

            &:before {
                content: '×';
                padding: 0.75em;
                font-size: 0.8em;
                text-indent: 0;
                color: $delete-color;
                display: inline-block;
            }

            &:hover {
                opacity: 1;
            }
        }

    }

    .file-input-wrapper.mode-replace:hover {
        background: rgba(255, 255, 255, 0.7);
        &:before {
            content: 'replace image';
            content: attr(data-replace-text);
            position: absolute;
            top: 50%;
            margin-top: -1em;
            left: 0;
            right: 0;
            bottom: 0;

            color: #000;
            text-align: center;
        }
    }

    .loading-indicator {
        position: relative;

        width: 0.9em;
        height: $loading-indicator-height;
        margin: 0 2.2em;

        text-indent: -999rem;
        animation: lcn-file-uploader-loading-indicator-animation 2000ms 150ms infinite;
        background: $loading-indicator-color;


        &:before,
        &:after {
            position: absolute;
            background: lighten($loading-indicator-color, 0.5);
            content: '';
            display: inline-block;
            width: 0.9em;
            height: $loading-indicator-height;
            top: 0;
        }

        &:before {
            animation: lcn-file-uploader-loading-indicator-animation 2000ms 0ms infinite;
            left: -1.6em;
        }
        &:after {
            animation: lcn-file-uploader-loading-indicator-animation 2000ms 300ms infinite;
            right: -1.6em;
        }
    }

    &.loading .loading-indicator {
        display: inline-block;
    }
}
